# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class


# ==============================
# Virtual Environment
# ==============================

venv/
.venv/
env/
ENV/


# ==============================
# IDE / Editors
# ==============================

.vscode/
.idea/


# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/


# ==============================
# Testing / Python Tools
# ==============================

.pytest_cache/
.mypy_cache/
.ruff_cache/


# ==============================
# CleanFlow Generated Output
# ==============================

output/


# ==============================
# Temporary Files
# ==============================

*.tmp
*.temp


# ==============================
# Environment Variables
# ==============================

.env
.env.*


# ==============================
# Logs
# ==============================

*.log


# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db
desktop.ini